NationalCriminalDB/NationalCriminalDB/Service References/EmailServiceReference/EmailService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14755/EmailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NationalCriminalDB.EmailService" />
  <xs:element name="SendCriminalRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NationalCriminalDB.EmailService" minOccurs="0" name="request" nillable="true" type="q1:EmailSendRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCriminalRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NationalCriminalDB.EmailService" minOccurs="0" name="SendCriminalRecordsResult" nillable="true" type="q2:EmailSendResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>